Source: jubatus-msgpack-rpc
Priority: extra
Maintainer: PFI & NTT <jubatus@googlegroups.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libmsgpackc2 (>= 0.5.7), jubatus-mpio
Standards-Version: 3.9.3
Section: libs
Homepage: http://jubat.us/
#Vcs-Git: git://git.debian.org/collab-maint/jubatus-msgpack-rpc.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/jubatus-msgpack-rpc.git;a=summary

Package: jubatus-msgpack-rpc-dev
Section: libdevel
Architecture: any
Depends: jubatus-msgpack-rpc (= ${binary:Version})
Description: MessagePack-RPC for C++

Package: jubatus-msgpack-rpc
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MessagePack-RPC for C++
