Source: jubatus-mpio
Priority: extra
Maintainer: PFI & NTT <jubatus@googlegroups.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.3
Section: libs
Homepage: http://jubat.us/
#Vcs-Git: git://git.debian.org/collab-maint/jubatus-mpio.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/jubatus-mpio.git;a=summary

Package: jubatus-mpio-dev
Section: libdevel
Architecture: any
Depends: jubatus-mpio (= ${binary:Version})
Description: Multipurpose concurrent I/O framework for C++

Package: jubatus-mpio
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multipurpose concurrent I/O framework for C++
